* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Jockey One', sans-serif;
    color: white;
}

header {
    .header-menu {
        width: 8.3vw;
        position: fixed;
        height: 100vh;
    }
    h1 {
        max-width: 25px;
        word-break: break-all;
        margin-top: 50px;
        text-align: center;
        font-size: 1.5rem;
    }
    button {
        span {
            position: relative;
            left: 0;
            transition: left 0.3s ease-in-out;
        }
    }
    button:hover {
        span {
            min-height: 70px;
        }
    }
}

.page-content {
    margin-left: 8.3vw;
    .page {
        min-height: 100vh;
    }
    .page1,
    .page2 {
        border-left: 10px solid #FFF136;
        border-right: 10px solid #FFF136;
    }
    .page1 {
        .page1-top {
            display: grid;
            grid-template-columns: repeat(11, minmax(0, 1fr));
            gap: 16px;
            .tahini-container {
                grid-column: 4 / span 4;
            }

            .text1 {
                grid-column: 2 / span 8;
            }
        }
        .page1-bottom {
            margin-top: 30px;
            display: grid;
            grid-template-columns: repeat(11, minmax(0, 1fr));
            gap: 16px;
            .image1 {
                grid-column: span 5;
                width: 100%;
                height: 100%;
            }
            .text2 {
                grid-column: span 6;
                height: 100%;
                padding-top: 20px;
                width: 100%;
            }
        }
    }
}

.page2 {
    background-color: #FFF136;
    border-left: 10px solid #FFF136;
    border-right: 10px solid #FFF136;
    .page2-top {
        .image2-container {
            display: grid;
            grid-template-columns: repeat(11, minmax(0, 1fr));
            gap: 16px;
            padding-top: 16px;
            padding-bottom: 16px;
            .menu-image1, .menu-image2, .menu-image3 {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .menu-image1 {
                grid-column: span 3;
            }
            .menu-image2 {
                grid-column: span 4;
            }
            .menu-image3 {
                grid-column: span 4;
            }
            
        }
    }
            
    .page2-bottom {
        display: grid;
        grid-template-columns: repeat(11, minmax(0, 1fr));
        gap: 16px;
        padding-bottom: 20px;

        .food-menu {
            padding: 0;
            list-style: none;
            margin: 0;
            grid-column: span 11;

            li {
                display: grid;
                grid-template-columns: repeat(11, minmax(0, 1fr));
                gap: 16px;
                text-align: left;

                .menu-name {
                    grid-column: 1 / span 4;
                    margin-left: 8px;
                    font-size: 1.5rem;
                }

                .menu-text {
                    grid-column: span 6;
                    margin-left: 0;
                }

                .menu-price {
                    grid-column: span 1;
                    margin: 0 auto;
                    font-size: 1.5rem;
                    font-weight: bold;
                    font-family: 'Jockey One', sans-serif;
                }

                .menu-new,
                .menu-vegan,
                .menu-popular {
                    margin-left: 10px;
                    font-size: 1rem;
                    padding-top: 0;
                    /*eventuellt ta bort*/
                }
            }
        }
    }
}

.page3 {
    border-left: 10px solid white;
    display: grid;
    grid-template-columns: repeat(11, minmax(0, 1fr));
    gap: 16px;
    align-items: center;
    background-color: #00FF38;
    h4 {
        font-size: 2.5rem;
        padding-left: 8px;
        text-align: left;
        grid-column: span 4;
        text-transform: uppercase;
    } 
    .page3-top {
        border-left: none;
        grid-column: span 5;
        padding-left: 8px;
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }    
    .form-container {
        grid-column: span 5;
        text-transform: uppercase;
        text-align: left;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .form-row {
            display: flex;
            justify-content: flex-end;
            
        }
        label {
            padding: .5rem 1em .5rem 0;
            width: 70px;
        }
        input {
            flex: 2;
            padding: .5rem;
            margin-left: 40px;
            min-width: 200px;
        }
    }
    .page3-bottom {
        border-left: none;
        grid-column: span 6;
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
}

.cookie {
    margin-top: 20px;
    padding-top: 20px;
    position: relative;
    .cookie-banner {
        background-color: #AB76FF;
        position: absolute;
        z-index: 998;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-inline: 8px;
        padding-block: 16px;
        align-items: center;
        overflow: hidden;
    }
}
